<section class="text-light  d-flex justify-content-center align-items-center  ">
    <div class="conteiner w-100   ">
        <div class="aboutHeading ">
            <h1 class="text-center">ABOUT COMPONENT</h1>
            <app-star />
        </div>
       <div class="container">
        <div class="row d-flex justify-content-center ">
            <div class="col-md-5">
                <div class="content">
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                        files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                        customization.</p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="content">
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                        files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                        customization.</p>
                </div>
            </div>
        </div>
       </div>
    </div>
</section>