<div class="container ">

    <div class="row g-3">

        <div class="col-md-4" *ngFor="let item of items ;index as i" (click)="getImageSrc($event)"
            data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal'+i">
            <div class="item ">
                <div class="img-container position-relative">
                    <img class="w-100 rounded-4" [src]="item" alt="">
                    <div class="layer rounded-4">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>

            </div>
            <!-- Modal -->
            <!-- Button trigger modal -->
            <!-- <button type="button" class="btn btn-primary">
                Launch demo modal
            </button> -->

            <!-- Modal -->
            <div class="modal fade" [id]="'exampleModal'+i" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        
                        <div class="modal-body">
                            <img [src]="item" class="w-100" alt="">
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->






</div>